<header class="text-right text-white d-flex pr-5">
    <ul>
      <li><%= link_to "Connections", connections_path %></li>
      <li><%= link_to "Connection Show", connection_path(1) %></li>
    </ul>
    <%= render "shared/searchbar" %>
    <%= render "shared/connectionmodal" %>
</header>
<div class="gradient-bg d-flex">
  <%= render 'shared/vnav'%>
  <div class="content">
    <div class="breadcrumbs">
        <%= link_to "Dashboard", root_path %> >> <%= link_to "Connections", connections_path %>
    </div>
      <h1 class="text-white">Your Connections</h1>
      <%= link_to "Add a connection", "#connectionModal", "data-toggle" => "modal" %>
        <div class="connection-cards">
      <div class="connection-cards">
        <% @connections.each do |connection| %>
          <%= link_to connection_path(connection) do %>
            <div class="connection-card">
              <!-- replace with connection.photo -->
              <div class="connection-card-img personal" style="background-image: url('<%= cl_image_path(connection.photo)%>')">

              </div>
              <div class="connection-card-info general">
                <h2><%= "#{connection.first_name} #{connection.last_name}" %></h2>
                <h3>Connection</h3>
                <h3>Last Contact</h3>
                <h3>Tags</h3>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>
</div>
