<div class="gradient-bg d-flex">
  <%= render 'shared/vnav'%>

  <div class="content pr-5">
    <div class="breadcrumbs">
        <%= link_to "Dashboard", root_path %> >> <%= link_to "Connections", connections_path %>
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <h1 class="text-white">Pending Connections</h1>
      <%= render "shared/connectionmodal" %>
      <%= link_to "New connection +", "#connectionModal", "data-toggle" => "modal", class: "btn-white" %>
    </div>
    <%= link_to connection_path(@top_connection) do %>
      <%= render 'shared/connection_card', connection: @top_connection %>
    <% end %>
    <%= render 'shared/connection_onboard_form', connection: @top_connection %>
    <div class="connection-cards">
      <% @remaining_connections.each do |connection| %>
        <%= link_to connection_path(connection) do %>
          <%= render 'shared/connection_card', connection: connection %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
