<div class="dashboard gradient-bg">
  <%= render "shared/vnav" %>
  <div class="content">
    <div class="breadcrumbs">
        <%= link_to "Dashboard", root_path %> >> <%= link_to "Connections", connections_path %> >> <%= link_to full_name(@connection), connection_path(@connection) %>
    </div>
    <h1 class="text-white text-right"><%= full_name(@connection) %></h1>
    <div class="show-content fade-in-bottom-disabled">
      <%= link_to "+ Add Details", "#detailsModal", "data-toggle" => "modal", class: "text-white text-btn text-right" %>
      <div class="namebox section round shadow">
        <div class="d-flex">
          <div class="float25"><%= connection_image_tag(@connection, :width => 400, :crop => "pad", :class => "avatar-xl") %></div>
          <div class="namebox-content float75 flex-column">
            <ul>
              <li><strong>Last Met:</strong> <%= checkin_date_display(@connection.last_completed_past_checkin) %></li>
              <li><strong>Frequency:</strong> <%= frequency_display(@connection.frequency) %></li>
              <li><strong>Birthday:</strong> <%= birthday_display(@connection.birthday) %></li>
              <li><strong>Tags</strong>
                <% @connection.tags.each do |t| %>
                  <p class="badge badge-primary"><%= t.value %></p>
                <% end %>
              </li>
              <li><strong>Social</strong></li>
              <% if @connection.email.present? %>
                <i class="fas fa-envelope"></i>
              <% end %>
              <% if @connection.facebook.present? %>
                <%= link_to @connection.facebook do %>
                  <i class="fab fa-facebook-square"></i>
                <% end %>
              <% end %>
              <% if @connection.twitter.present? %>
                <%= link_to @connection.twitter do %>
                  <i class="fab fa-twitter-square"></i>
                <% end %>
              <% end %>
              <% if @connection.instagram.present? %>
                <%= link_to @connection.instagram do %>
                  <i class="fab fa-instagram"></i>
                <% end %>
              <% end %>
              <% if @connection.linkedin.present? %>
                <%= link_to @connection.linkedin do %>
                  <i class="fab fa-linkedin"></i>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <% if @connection.live? %>
        <div class="split mb-5">
          <div class="show-left float66 d-flex flex-column">

            <div class="mail-section">
              <h2 class="text-white">Send an e-mail</h2>
              <% if @connection.email %>
                <%= render '/shared/connectionmailform' %>
              <% else %>
                <p class="text-white faded">Add an email address for <%= @connection.first_name%> to send them a message through Affini.</p>
              <% end %>
            <%= link_to "+ Add a Check-in", "#checkinModal", "data-toggle" => "modal", class: "text-white text-btn" %>
            <%= render '/shared/accordion', :checkins => @connection.checkins, :past_checkins => @connection.checkins.past %>
            </div>
          </div>
          <div class="show-right float33 d-flex flex-column">
            <div class="d-flex justify-content-between align-items-center">
              <h2 class="text-white">Notes</h2>
              <%= link_to "+ Add notes", "#notesModal", "data-toggle" => "modal", class: "text-white" %>
            </div>
            <div class="d-flex notes section round shadow mb-4">
              <div class="right">
                <%= @connection.description %>
              </div>
            </div>
            <div class="shadows round glancebox dark-bg text-white">
              <div class="d-flex justify-content-between">
                <h2>At a glance </h2>
                <h2>+</h2>
              </div>
              <p class="text-white faded">This is where you can answer some quick questions to help remember helpful things about this connection.</p>
              <% if @connection.glances.any? %>
                <% @connection.glances.each do |glance| %>
                  <h4><%= glance.question  %></h4>
                  <p class="text-white"><%= glance.answer %></p>
                <% end %>
              <% else %>
                <h4 class="faded">Favorite Planet?</h4>
                <p class="text-white faded">Jupiter</p>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <h2 class="text-white show-unimported-user"><strong><%= link_to "Import this connection", onboard_connections_path %></strong> to schedule a check-in, add notes or send messages.</h2>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/detailsmodal" %>
<%= render "shared/checkinmodal" %>
<%= render "shared/notesmodal" %>

<script>
  // accordion
  const items = document.querySelectorAll(".checkin-accordion a");
  function toggleAccordion(){
    this.classList.toggle('active');
    this.nextElementSibling.classList.toggle('active');
  }
  items.forEach(item => item.addEventListener('click', toggleAccordion));
</script>


