<%= render "shared/header" %>
<div class="dashboard gradient-bg">
  <%= render "shared/vnav" %>
  <div class="content">
    <div class="breadcrumbs">
        <%= link_to "Dashboard", root_path %> >> <%= link_to "Connections", connections_path %> >> <%= link_to full_name(@connection), connection_path(@connection) %>
    </div>
    <div class="show-content">
      <h1 class="text-white"><%= full_name(@connection) %></h1 class="text-white">
      <div class="namebox section round shadow">
        <div class="float66 right">
          <%= cl_image_tag("#{@connection.photo}", :width => 400, :crop => "pad", :class => "avatar-xl") %>
          <div class="namebox-content">
            <h6><strong>Last Met:</strong> <%= @connection.checkins.past.order(time: :desc).completed.first[:time].strftime("%B #{@connection.checkins.past.order(time: :desc).completed.first[:time].day.ordinalize}, %Y") %></h6>
            <h6><strong>Frequency:</strong> <%= @connection.frequency %></h6>
            <h6><strong>Birthday:</strong> <%= @connection.birthday.strftime("%B #{@connection.birthday.day.ordinalize}, %Y") %></h6>
            <h6><strong>Tags</strong>
              <ul class="tag-list">
                <% @connection.tags.each do |t| %>
                  <li><%= t.value %></li>
                <% end %>
              </ul>
            </h6>
            <p>
              <% if @connection.email.present? %>
                <i class="fas fa-envelope"></i>
              <% end %>
              <% if @connection.facebook.present? %>
                <%= link_to @connection.facebook do %>
                  <i class="fab fa-facebook-square"></i>
                <% end %>
              <% end %>
              <% if @connection.twitter.present? %>
                <%= link_to @connection.twitter do %>
                  <i class="fab fa-twitter-square"></i>
                <% end %>
              <% end %>
              <% if @connection.instagram.present? %>
                <%= link_to @connection.instagram do %>
                  <i class="fab fa-instagram"></i>
                <% end %>
              <% end %>
              <% if @connection.linkedin.present? %>
                <%= link_to @connection.linkedin do %>
                  <i class="fab fa-linkedin"></i>
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
      <div class="split">
        <div class="show-left float66 d-flex flex-column">
          <div class="d-flex justify-content-between">
            <h3 class="text-white">Notes</h3>
            <a href="#" class="text-white" style="padding-right: 80px;">+ Add notes</a>
          </div>
          <div class="d-flex notes section round shadow">
            <div class="right">
              <%= @connection.description %>
            </div>
          </div>

        <div class="checkins d-flex justify-content-between align-items-center">
          <h3 class="text-white">Upcoming Check-ins</h3>
          <%= render "shared/checkinmodal" %>
          <%= link_to "+ Add a Check-in", "#checkinModal", "data-toggle" => "modal", class: "text-white text-btn" %>
        </div>

        <% @connection.checkins.future.order(time: :asc).limit(3).each do |c| %>
        <div class="d-flex checkinbox section round shadow">
          <div class="right">
            <%= c.description %>
          </div>
        </div>
        <% end %>

        <h3 class="text-white">Previous Check-ins</h3>
        <% @connection.checkins.past.order(time: :desc).completed.limit(3).each do |c| %>
        <div class="d-flex">
          <div class="d-flex checkinbox faded section round shadow">
            <div class="right">
              <%= c.description %>
            </div>
          </div>
        </div>
        <% end %>

        </div>
        <div class="show-right float33 d-flex">
          <div class="shadows round glancebox dark-bg text-white">
            <div class="d-flex justify-content-between">
              <h2>At a glance</h2>
              <h2>+</h2>
            </div>
            <% @connection.glances.each do |glance| %>
              <h4><%= glance.question  %></h4>
              <p><%= glance.answer %></p>
            <% end %>
          </div>
        </div>
      </div>
  </div>
