<%= render "shared/header" %>
<div class="dashboard gradient-bg">
  <%= render "shared/vnav" %>
  <div class="content">
    <div class="breadcrumbs">
        <%= link_to "Dashboard", root_path %> >> <%= link_to "Connections", connections_path %> >> <%= link_to "#{@connection.first_name} #{@connection.last_name}", connection_path(@connection) %>
    </div>
    <div class="show-content">
      <h1 class="text-white"><%= "#{@connection.first_name} #{@connection.last_name}" %></h1 class="text-white">
      <div class="namebox section round shadow">
        <div class="float66 right">

        </div>
      </div>
      <div class="split">
        <div class="show-left float66 d-flex flex-column">
          <div class="d-flex justify-content-between">
            <h3 class="text-white">Notes</h3>
            <a href="#" class="text-white" style="padding-right: 80px;">+ Add notes</a>
          </div>
          <div class="d-flex notes section round shadow">
            <div class="right">
              <%= @connection.description %>
            </div>
          </div>

        <div class="checkins d-flex justify-content-between align-items-center">
          <h3 class="text-white">Upcoming Check-ins</h3>
          <%= render "shared/checkinmodal" %>
          <%= link_to "+ Add a Check-in", "#checkinModal", "data-toggle" => "modal", class: "text-white text-btn" %>
        </div>

        <div class="d-flex checkinbox section round shadow">
          <div class="right">

          </div>
        </div>
        <h3 class="text-white">Previous Check-ins</h3>
        <div class="d-flex">
          <div class="d-flex checkinbox faded section round shadow">
            <div class="right">
            </div>
          </div>
        </div>

        </div>
        <div class="show-right float33 d-flex">
          <div class="shadows round glancebox dark-bg text-white">
            <div class="d-flex justify-content-between">
              <h2>At a glance</h2>
              <h2>+</h2>
            </div>
            <% @connection.glances.each do |glance| %>
              <h4><%= glance.question  %></h4>
              <p><%= glance.answer %></p>
            <% end %>
          </div>
        </div>
      </div>
  </div>
