<div class="dashboard gradient-bg">
  <%= render "shared/vnav" %>
  <div class="content">
    <div class="breadcrumbs">
        <%= link_to "Dashboard", root_path %> >> <%= link_to "Connections", connections_path %> >> <%= link_to full_name(@connection), connection_path(@connection) %>
    </div>
    <div class="show-content">
      <h1 class="text-white"><%= full_name(@connection) %></h1 class="text-white text-right">
        <%= render "shared/detailsmodal" %>
      <%= link_to "+ Add Details", "#detailsModal", "data-toggle" => "modal", class: "text-white text-btn text-right" %>
      <div class="namebox section round shadow">
        <div class="d-flex">
          <div class="float25"><%= connection_image_tag(@connection, :width => 400, :crop => "pad", :class => "avatar-xl") %></div>
          <div class="namebox-content float75 flex-column">
            <ul>
              <li><strong>Last Met:</strong> <%= checkin_date_display(@connection.last_completed_past_checkin) %></li>
              <li><strong>Frequency:</strong> <%= frequency_display(@connection.frequency) %></li>
              <li><strong>Birthday:</strong> <%= birthday_display(@connection.birthday) %></li>
              <li><strong>Tags</strong>
                <% @connection.tags.each do |t| %>
                  <p class="badge badge-primary"><%= t.value %></p>
                <% end %>
              </li>
              <li><strong>Social</strong></li>
              <% if @connection.email.present? %>
                <i class="fas fa-envelope"></i>
              <% end %>
              <% if @connection.facebook.present? %>
                <%= link_to @connection.facebook do %>
                  <i class="fab fa-facebook-square"></i>
                <% end %>
              <% end %>
              <% if @connection.twitter.present? %>
                <%= link_to @connection.twitter do %>
                  <i class="fab fa-twitter-square"></i>
                <% end %>
              <% end %>
              <% if @connection.instagram.present? %>
                <%= link_to @connection.instagram do %>
                  <i class="fab fa-instagram"></i>
                <% end %>
              <% end %>
              <% if @connection.linkedin.present? %>
                <%= link_to @connection.linkedin do %>
                  <i class="fab fa-linkedin"></i>
                <% end %>
              <% end %>
            </p></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="split mb-5">
        <div class="show-left float66 d-flex flex-column">
        <div class="mail-section">
          <h2 class="text-white">Send an e-mail</h2>
          <%= render '/shared/connectionmailform' %>
        </div>

        <div class="checkins d-flex justify-content-between align-items-center">
          <h3 class="text-white">Feedback</h3>
            <%= render "shared/checkinmodal" %>
          <%= link_to "+ Add a Check-in", "#checkinModal", "data-toggle" => "modal", class: "text-white text-btn" %>
        </div>
        <div class="show-left d-flex flex-column">
          <% if @connection.checkins.past.incomplete.any? %>
            <% @connection.checkins.past.incomplete.order(time: :desc).limit(3).each do |checkin| %>
              <%= render "/shared/checkins", :checkin => checkin %>
            <% end %>
          <% else %>
            <p class="text-white faded">You're up to date with <%= @connection.first_name%>. Nice job! </p>
          <% end %>
        </div>

        <div class="checkins d-flex justify-content-between align-items-center">
          <h3 class="text-white">Upcoming</h3>
        </div>
        <div class="show-left d-flex flex-column">
          <% if @connection.checkins.future.any?  %>
            <% @connection.checkins.future.order(time: :asc).limit(3).each do |checkin| %>
              <%= render "/shared/checkins", :checkin => checkin %>
            <% end %>
          <% else %>
            <p class="text-white faded">You have no upcoming check-ins with <%= @connection.first_name%>. Why not schedule one? </p>
          <% end %>
        </div>

        <h3 class="text-white">Past</h3>
          <div class="show-left d-flex flex-column">
            <% if @connection.checkins.past.any? %>
              <% @connection.checkins.past.order(time: :desc).completed.limit(3).each do |checkin| %>
                <%= render "/shared/checkins", :checkin => checkin %>
              <% end %>
            <% else %>
            <p class="text-white faded">This is where you will see previously completed check-ins.</p>
            <% end %>
          </div>

        </div>
        <div class="show-right float33 d-flex flex-column">
          <div class="d-flex justify-content-between align-items-center">
            <h2 class="text-white">Notes</h2>
            <%= render "shared/notesmodal" %>
            <%= link_to "+ Add notes", "#notesModal", "data-toggle" => "modal", class: "text-white" %>
          </div>
          <div class="d-flex notes section round shadow mb-4">
            <div class="right">
              <%= @connection.description %>
            </div>
          </div>
          <div class="shadows round glancebox dark-bg text-white">
            <div class="d-flex justify-content-between">
              <h2>At a glance </h2>
              <h2>+</h2>
            </div>
            <p class="text-white faded">This is where you can answer some quick questions to help remember helpful things about this connection.</p>
            <% if @connection.glances.any? %>
              <% @connection.glances.each do |glance| %>
                <h4><%= glance.question  %></h4>
                <p class="text-white"><%= glance.answer %></p>
              <% end %>
            <% else %>
              <h4 class="faded">Favorite Planet?</h4>
              <p class="text-white faded">Jupiter</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
