<div class="dashboard gradient-bg">
  <%= render "/shared/vnav" %>
  <div class="content">
    <div class="breadcrumbs">
      <a href="#">Dashboard</a>
    </div>
    <div class="split justify-content-between">
      <h1 class="text-white">Hello, <%= @user.first_name %>!</h1>
      <%= render "shared/connectionmodal" %>
      <%= link_to "New connection +", "#connectionModal", "data-toggle" => "modal", class: "btn-white" %>
    </div>
    <div class="split">
      <div class="d-flex float66 flex-column">
        <div class="d-flex welcome section round shadow">
          <div class="right order2">
            <% if @user.checkins.past.incomplete %>
              <%= link_to "#{root_path}#feedback" do %>
                <div class="notification-card feedback round">
                  <div class="notification-card-content">
                    <i class="fas fa-comment-dots"></i><h2>Pending Feedback</h2>
                  </div>
                <div class="numberCircle"><%= @user.checkins.past.incomplete.count %></div>
              </div>
            <% end %>
          <% end %>
            <% if @user.checkins.future.where('time < ?', 1.week.after) %>
              <%= link_to "#{root_path}#upcoming" do %>
                <div class="notification-card upcoming round">
                  <div class="notification-card-content">
                    <i class="fas fa-calendar-alt"></i><h2>Upcoming Check-ins</h2>
                  </div>
                  <div class="numberCircle"><%= @user.checkins.future.where('time < ?', 1.week.after).count %></div>
                </div>
              <% end %>
            <% end %>
            <% if @connections_checkin %>
              <%= link_to "#{root_path}#awaiting" do %>
                <div class="notification-card awaiting round">
                  <div class="notification-card-content">
                    <i class="fas fa-user-clock"></i><h2>Awaiting Check-in</h2>
                  </div>
                  <div class="numberCircle"><%= @connections_checkin.count %></div>
                </div>
              <% end %>
            <% end %>
            <p>Need to keep track of your upcoming activities? Visit the calendar to help you get organized.</p>
            <a href="/checkins" class="btn-green">Visit the Calendar</a>

          </div>
        </div>
        <div class="upcoming-checkins d-flex flex-column">
          <h3 class="text-white spaced-header border-bot">Feedback</h3>
          <div class="show-left d-flex flex-column" id="feedback">
            <% @user.checkins.past.incomplete.order(time: :desc).limit(3).each do |checkin| %>
              <%= render "/shared/checkins", :checkin => checkin %>
            <% end %>
          </div>
          <h3 class="text-white spaced-header border-top ">Upcoming</h3>
          <div class="show-left d-flex flex-column" id="upcoming">
            <% @user.checkins.future.order(time: :asc).limit(3).each do |checkin| %>
              <%= render "/shared/checkins", :checkin => checkin %>
            <% end %>
          </div>
          <h3 class="text-white spaced-header">Past</h3>
          <div class="show-left d-flex flex-column" id="awaiting">
            <% @user.checkins.past.order(time: :asc).limit(3).each do |checkin| %>
              <% if checkin.completed? %>
              <div class="faded">
              <% end %>
              <%= render "/shared/checkins", :checkin => checkin %>
              <% if checkin.completed? %>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="float33 reminders">
        <% if @connections_checkin %>
        <h3 class="text-white pl-3">People to check-in with</h3>
          <% @connections_checkin.each do |connection| %>
            <%= render "/shared/connection_due", :connection => connection %>
          <% end %>
        <% end %>
      </div>
      </div>
</div>
