<div class="dashboard gradient-bg">
  <%= render "/shared/vnav" %>
  <div class="content">
    <div class="breadcrumbs">
      <a href="#">Dashboard</a>
    </div>
    <div class="split justify-content-between">
      <h1 class="text-white">Hello, <%= @user.first_name %>!</h1>
      <%= render "shared/connectionmodal" %>
      <%= link_to "New connection +", "#connectionModal", "data-toggle" => "modal", class: "btn-white" %>
    </div>
    <div class="d-flex">
      <div class="float66 d-flex welcome section round shadow">
        <div class="float66 right order2">
          <h2><%= dashboard_message(n_feedbacks: @user.checkins.past.incomplete.count,
                                    n_upcomings: @user.checkins.future.where('time < ?', 1.week.after).count,
                                    n_connections_checkin: @connections_checkin.count) %></h2>
          <p>Chickens don't clap! I'd rather be dead in California than alive in Arizona. The only person that gets Lucille this excited is Gene. ♪♪ And the thought of rubbin' you is getting so exciting. Sky rockets in flight! Afternoon delight! ♪♪ Why are you squeezing me with your body? It's a hug, Michael. I'm hugging you. </p>

        </div>
      </div>
      <div class="float33 reminders">
        <% if @connections_checkin %>
        <h3 class="text-white pl-3">People to check-in with</h3>
          <% @connections_checkin.each do |connection| %>
            <%= render "/shared/connection_due", :connection => connection %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="upcoming-checkins d-flex flex-column">
      <h3 class="text-white spaced-header border-bot">Feedback</h3>
      <div class="show-left float66 d-flex flex-column">
        <% @user.checkins.past.incomplete.order(time: :desc).limit(3).each do |checkin| %>
          <%= render "/shared/checkins", :checkin => checkin %>
        <% end %>
      </div>
      <h3 class="text-white spaced-header border-top ">Upcoming</h3>
      <div class="show-left float66 d-flex flex-column">
        <% @user.checkins.future.order(time: :asc).limit(3).each do |checkin| %>
          <%= render "/shared/checkins", :checkin => checkin %>
        <% end %>
      </div>
      <h3 class="text-white spaced-header">Past</h3>
      <div class="show-left float66 d-flex flex-column">
        <% @user.checkins.past.order(time: :asc).limit(3).each do |checkin| %>
          <% if checkin.completed? %>
          <div class="faded">
          <% end %>
          <%= render "/shared/checkins", :checkin => checkin %>
          <% if checkin.completed? %>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
