<div class="dashboard gradient-bg">
  <%= render "/shared/vnav" %>
  <div class="content">
    <div class="breadcrumbs">
      <a href="#">Dashboard</a>
    </div>
    <div class="split justify-content-between">
      <h1 class="text-white">Hello, <%= @user.first_name %>!</h1>
      <%= render "shared/connectionmodal" %>
      <%= link_to "New connection +", "#connectionModal", "data-toggle" => "modal", class: "btn-white" %>
    </div>
    <div class="split">
      <div class="d-flex float66 flex-column">
        <div class="checkin-accordion d-flex flex-column">
          <div class="accordion-item">
            <a><h3 class="text-white spaced-header">Feedback</h3></a>
            <div class="accordion-content show-left d-flex flex-column" id="feedback">
              <% @user.checkins.past.incomplete.order(time: :desc).limit(3).each do |checkin| %>
                <%= render "/shared/checkins", :checkin => checkin %>
              <% end %>
            </div>
          </div>
          <div class="accordion-item">
            <a><h3 class="text-white spaced-header">Upcoming</h3></a>
            <div class="accordion-content show-left d-flex flex-column" id="upcoming">
              <% @user.checkins.future.order(time: :asc).limit(3).each do |checkin| %>
                <%= render "/shared/checkins", :checkin => checkin %>
              <% end %>
            </div>
          </div>
          <div class="accordion-item">
            <a><h3 class="text-white spaced-header">Past</h3></a>
            <div class="accordion-content show-left d-flex flex-column" id="awaiting">
              <% @user.checkins.past.order(time: :asc).limit(3).each do |checkin| %>
                <% if checkin.completed? %>
                <div class="faded">
                <% end %>
                <%= render "/shared/checkins", :checkin => checkin %>
                <% if checkin.completed? %>
                </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="float33 reminders">
        <% if @connections_checkin %>
        <h3 class="text-white pl-3">People to check-in with</h3>
          <% @connections_checkin.each do |connection| %>
            <%= render "/shared/connection_due", :connection => connection %>
          <% end %>
        <% end %>
      </div>
      </div>
</div>
<script>
  // accordion js
  const items = document.querySelectorAll(".checkin-accordion a");

  function toggleAccordion(){
    this.classList.toggle('active');
    this.nextElementSibling.classList.toggle('active');
  }

  items.forEach(item => item.addEventListener('click', toggleAccordion));
</script>
