<% ci_feedback = checkins.past.incomplete %>
<% ci_upcoming = checkins.future.where('time < ?', 1.week.after) %>
<% ci_past = checkins.past %>

<div class="checkin-accordion d-flex flex-column">
  <div class="accordion-item">
    <a class="active">
      <h3 class="text-white spaced-header">
      <i class="far fa-comment-dots text-white">
      </i>
      Leave Feedback
      </h3>
      <div class="numberCircle">
        <%= ci_feedback.count %>
      </div>
    </a>
    <div class="accordion-content show-left d-flex flex-column active" id="feedback">
      <% if checkins.past.incomplete.any? %>
        <% ci_feedback.order(time: :desc).limit(3).each do |checkin| %>
          <%= render "/shared/checkins", :checkin => checkin %>
        <% end %>
      <% else %>
        <p class="text-white faded">You're up to date! Keep it up.</p>
      <% end %>
    </div>
  </div>
  <div class="accordion-item">
    <a>
      <h3 class="text-white spaced-header">
        <i class="far fa-calendar-alt text-white">
        </i>
        Upcoming Check-Ins
      </h3>
      <div class="numberCircle">
        <%= ci_upcoming.count %>
      </div>
    </a>
    <div class="accordion-content show-left d-flex flex-column" id="upcoming">
      <% ci_upcoming.order(time: :asc).limit(3).each do |checkin| %>
        <%= render "/shared/checkins", :checkin => checkin %>
      <% end %>
    </div>
  </div>
  <div class="accordion-item">
    <a>
      <h3 class="text-white spaced-header">
        <i class="fas fa-user-clock text-white">
        </i>
        Past Check-Ins
      </h3>
      <div class="numberCircle">
        <%= ci_past.count %>
      </div>
    </a>
    <div class="accordion-content show-left d-flex flex-column" id="awaiting">
      <% ci_past.order(time: :asc).limit(3).each do |checkin| %>
        <% if checkin.completed? %>
          <div class="faded">
        <% end %>
        <%= render "/shared/checkins", :checkin => checkin %>
        <% if checkin.completed? %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>
  // accordion
  const items = document.querySelectorAll(".checkin-accordion a");
  function toggleAccordion(){
    this.classList.toggle('active');
    this.nextElementSibling.classList.toggle('active');
  }
  items.forEach(item => item.addEventListener('click', toggleAccordion));
</script>

