<%= render "/shared/editcheckinmodal", :checkin => checkin %>
<div class="d-flex checkin-card-relative">
  <div class="d-flex checkin-card section round shadow" id="checkin-card">
    <div class="checkin-card-content">
        <ul>
          <% checkin.connections.each do |c| %>
            <li>
              <%= link_to(connection_path(c)) do %>
                <%= cl_image_tag c.photo, height: 60, width: 60, crop: :scale, class: "checkin-av" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <p><%= "#{checkin.description} - #{date_display(checkin.time, missing = "Never")}" %></p>
    </div>
    <div class="checkin-card-content"></div>
  </div>
  <%= link_to "#editCheckinModal-#{checkin.id}", "data-toggle" => "modal" do  %>
    <div class="modal-overlay-link"></div>
  <% end %>
</div>

