<%= render "/shared/editcheckinmodal", :checkin => checkin %>
<div class="d-flex checkin-card-relative" data-toggle="modal" data-target="#editCheckinModal-<%= checkin.id %>">
  <div class="d-flex checkin-card section round shadow" id="checkin-card">
    <div class="checkin-card-content justify-content-between">
      <div class="sliding-avatars">
        <ul>
          <% checkin.connections.each do |c| %>
            <li>
              <%= link_to(connection_path(c)) do %>
                <%= connection_image_tag(c, {height: 60, width: 60, class: "checkin-av"}) %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <p><%= "#{checkin.description} - #{date_display(checkin.time, missing = "Never")}" %></p>
      <% if checkin.rating.present? %>
        <p class="rating">
          <% checkin.rating.to_i.times do %>
            <i class="fas fa-star"></i>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
</div>
