<div class="d-flex justify-content-around align-items-center">
  <div class="d-flex checkin-card section round shadow">
    <div class="checkin-card-content d-flex align-items-center">
        <ul>
          <% checkin.connections.each do |c| %>
            <li>
              <%= link_to(connection_path(c)) do %>
                <%= cl_image_tag c.photo, height: 60, width: 60, crop: :scale, class: "checkin-av" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <p><%= "#{checkin.description} - #{date_display(checkin.time, missing = "Never")}" %></p>
    </div>
  </div>
      <%= render "shared/editcheckinmodal" %>
      <%= link_to "#editCheckinModal", "data-toggle" => "modal" do %>
      <i class="fas fa-plus text-white"></i>
      <% end %>
</div>

<!-- //
<div class="d-flex">
  <div class="d-flex checkin-card section round shadow">
    <div class="checkin-card-content">
      <%= link_to "#editCheckinModal", "data-toggle" => "modal", class: "btn-white" do %>
        <div class="modal-link">
        </div>
      <% end %>
        <ul>
          <% checkin.connections.each do |c| %>
            <li>
              <%= link_to(connection_path(c)) do %>
                <%= cl_image_tag c.photo, height: 60, width: 60, crop: :scale, class: "checkin-av" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <p><%= "#{checkin.description} - #{date_display(checkin.time, missing = "Never")}" %></p>
    </div>
    <div class="checkin-card-content"></div>
  </div>
</div>
 -->
