<%= render "/shared/editcheckinmodal", :checkin => checkin %>
<div class="d-flex checkin-card-relative">
  <div class="d-flex checkin-card section round shadow" id="checkin-card">
    <div class="checkin-card-content">
        <ul>
          <% checkin.connections.each do |c| %>
            <li>
              <%= link_to(connection_path(c)) do %>
                <%= connection_image_tag(c, height: 60, width: 60, crop: :scale, class: "checkin-av") %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <p><%= "#{checkin.description} - #{date_display(checkin.time, missing = "Never")}" %></p>
      <% if checkin.rating.present? %>
        <% if checkin.rating === 1 %>
          <p class="rating"><i class="fas fa-star"></i></p>
        <% elsif checkin.rating === 2 %>
          <p class="rating"><i class="fas fa-star"></i> <i class="fas fa-star"></i></p>
        <% elsif checkin.rating === 3 %>
          <p class="rating"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i></p>
        <% elsif checkin.rating === 4 %>
          <p class="rating"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i></p>
        <% elsif checkin.rating === 5 %>
          <p class="rating"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i></p>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= link_to "#editCheckinModal", "data-toggle" => "modal" do  %>
    <div class="modal-overlay-link"></div>
  <% end %>
</div>

