<div class="connection-card shadow">
  <%= link_to connection_path(connection) do %>
    <div class="connection-card-img personal" style="background-image: url('<%= connection_image_path(connection) %>')">
    </div>
    <div class="connection-card-info general">
      <h2><%= full_name(connection) %></h2>
      <% if connection.tags %>
      <h3>
      <% connection.tags.each do |tag| %>
          #<%=tag.value%>
      <% end %>
      </h3>
      <% end %>
      <% connection_status(connection).each do |entry| %>
        <h3>
          <%= entry[0] %>
        <% if entry[1] %>
          <%= entry[1] %>
        <% end %>
        </h3>
      <% end %>
  </div>
  <% end %>
</div>
