<% if connection.live? && connection.frequency? %>
  <div class="connection-card shadow">
<% else %>
  <div class="connection-card shadow light-faded">
<% end %>
  <%= link_to connection_path(connection) do %>
    <div class="connection-card-av-background">
      <div class="connection-card-av"><%= connection_image_tag(connection, {width: 400, class: "avatar-connection-card"}) %></div>
    </div>
    <div class="connection-card-info general">
      <div class="full-name"><h2><%= full_name(connection) %></h2></div>
      <% connection_status(connection).each do |entry| %>
        <p>
          <strong><%= entry[0] %></strong>
        <% if entry[1] %>
          <%= entry[1] %>
        <% end %>
        </p>
      <% end %>
      <% if connection.tags %>
        <div class="connection-tags">
          <% connection.tags.each do |tag| %>
            <p class="badge badge-primary"><%=tag.value%></p>
          <% end %>
        </div>
    <% end %>
  </div>
  <% end %>
</div>
