<div class="v-nav shadows">
    <div class="nav-content">
      <%= link_to home_path do %>
        <h1 class="logo">affini</h1>
      <% end %>
      <%= render "shared/searchbar" %>
      <ul>
        <% if current_user %>
          <%= link_to root_path do %>
            <li>Dashboard</li>
          <% end %>
          <%= link_to connections_path do %>
            <li>Connections</li>
          <% end %>
          <%= link_to checkins_path do %>
            <li>Check-ins</li>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <li>Log out</li>
          <% end %>
            <% else %>
          <%= link_to new_user_session_path do %>
            <li>Login</li>
          <% end %>
        <% end %>
      </ul>
    </div>
</div>
