<%= render "shared/header" %>
<div class="hero-section d-flex align-items-center gradient-bg upslant">
  <div class="hero-content inner d-flex relative z2">
    <h1 class="text-white ">A relationship builder that starts with you</h1>
    <div class="hero-image">
      <%= image_tag("personal-stats.svg", size: "320") %>
    </div>
  </div>

</div>
<div class="product-features container d-flex justify-items center">
  <div class="float33 feature text-center">
    <%= image_tag("connections.svg", size: "160") %>
    <h2>Build Relationships</h2>
    <p>Affini keeps track of the people that you care about the most and helps you organize the connections that you want cultivate.</p>
  </div>
  <div class="float33 feature text-center">
    <%= image_tag("modules.svg", size: "160") %>
    <h2>Check-In</h2>
    <p>Get reminders that help you remain "top of mind" of new friends, family, and professional relationships.</p>
  </div>
  <div class="float33 feature text-center">
    <%= image_tag("time_management.svg", size: "160") %>
    <h2>Manage Your Time</h2>
    <p>With your social calendar at your fingertips, you will know about upcoming events that you've scheduled - you'll also be reminded of any connections you haven't talked to in a while.</p>
  </div>
</div>
<footer>

</footer>
