<div class="dashboard gradient-bg">
  <%= render "shared/vnav" %>
  <div class="content">
    <div class="breadcrumbs">
      <%= link_to "Dashboard", root_path %> >> <%= link_to "Check-ins", connections_path %>
    </div>
  <div class="headers d-flex align-items-center justify-content-between" >
    <h1 class= "text-white">Check-ins</h1>
    <%= link_to "+ Add a Check-in", "#checkinModal", "data-toggle" => "modal", class: "btn-white" %>
  </div>
  <div class="checkin-content fade-in-bottom">
    <div class="float66">
      <div class="calendar">
        <div id='calendar'>
        </div>
      </div>
    </div>

    <div class="float33">
      <ul>
        <div class="upcoming-checkins d-flex flex-column">
          <h3 class="text-white spaced-header">Feedback</h3>
          <div class="show-left d-flex flex-column">
            <% @user.checkins.past.incomplete.order(time: :desc).limit(3).each do |checkin| %>
              <%= render "/shared/editcheckinmodal", :checkin => checkin %>
              <%= link_to "#editCheckinModal", "data-toggle" => "modal" do %>
              <p class="checkin-index-message">
                + <strong><%= "#{checkin.connections.first.first_name}" %>
                <% if checkin.connections.count > 1 %>
                +<%= checkin.connections.count - 1 %> more
                <% end %>:</strong>
                <%= "#{checkin.description} - #{date_display(checkin.time, missing = "Never")}" %>
              </p>
              <% end %>
            <% end %>
          </div>
        </div>
      </ul>
      <ul>
        <div class="upcoming-checkins d-flex flex-column">
          <h3 class="text-white spaced-header">Upcoming</h3>
          <div class="show-left d-flex flex-column">
            <% @user.checkins.future.order(time: :asc).limit(3).each do |checkin| %>
              <%= link_to "#editCheckinModal", "data-toggle" => "modal" do %>
              <p class="checkin-index-message">
                + <strong><%= "#{checkin.connections.first.first_name}" %>
                <% if checkin.connections.count > 1 %>
                +<%= checkin.connections.count - 1 %> more
                <% end %>:</strong>
                <%= "#{checkin.description} - #{date_display(checkin.time, missing = "Never")}" %>
              </p>
              <% end %>
            <% end %>
          </div>
        </div>
      </ul>
      <ul>
        <div class="upcoming-checkins d-flex flex-column">
          <h3 class="text-white spaced-header">Past</h3>
          <div class="show-left d-flex flex-column">
            <% @user.checkins.past.completed.order(time: :asc).limit(3).each do |checkin| %>
              <%= link_to "#editCheckinModal", "data-toggle" => "modal" do %>
              <p class="checkin-index-message">
                + <strong><%= "#{checkin.connections.first.first_name}" %>
                <% if checkin.connections.count > 1 %>
                +<%= checkin.connections.count - 1 %> more
                <% end %>:</strong>
                <%= "#{checkin.description} - #{date_display(checkin.time, missing = "Never")}" %>
              </p>
              <% end %>
            <% end %>
          </div>
        </div>
      </ul>
    </div>
  </div>
  </div>
</div>

  <%= render "shared/checkinmodal" %>
