<div class="dashboard gradient-bg">
  <%= render "shared/vnav" %>
  <div class="content">
    <div class="breadcrumbs">
      <%= link_to "Dashboard", root_path %> >> <%= link_to "Check-ins", connections_path %>
    </div>
  <h1 class= "text-white">Check-ins</h1>
  <div class="checkin-content">
    <div class="float50">
      <div class="calendar">
        <%= month_calendar  do |date| %>
          <%= date.day %>
        <% end %>
      </div>
    </div>

    <div class="float50">
      <ul>
        <div class="upcoming-checkins d-flex flex-column">
          <h3 class="text-white spaced-header">Feedback</h3>
          <div class="show-left float66 d-flex flex-column">
            <% @user.checkins.past.incomplete.order(time: :desc).limit(3).each do |checkin| %>
              <%= render "/shared/checkins", :checkin => checkin %>
            <% end %>
          </div>
        </div>
      </ul>
      <ul>
        <div class="upcoming-checkins d-flex flex-column">
          <h3 class="text-white spaced-header">Upcoming Checkins</h3>
          <div class="show-left float66 d-flex flex-column">
            <% @user.checkins.future.order(time: :asc).limit(3).each do |checkin| %>
              <%= render "/shared/checkins", :checkin => checkin %>
            <% end %>
          </div>
        </div>
      </ul>
      <ul>
        <div class="upcoming-checkins d-flex flex-column">
          <h3 class="text-white spaced-header">Past</h3>
          <div class="show-left float66 d-flex flex-column">
            <% @user.checkins.past.completed.order(time: :asc).limit(3).each do |checkin| %>
              <%= render "/shared/checkins", :checkin => checkin %>
            <% end %>
          </div>
        </div>
      </ul>
    </div>
  </div>
  </div>
</div>
