<div class="dashboard gradient-bg">
  <%= render "shared/vnav" %>
  <div class="content">
    <div class="breadcrumbs">
      <%= link_to "Dashboard", root_path %> >> <%= link_to "Activities", connections_path %>
    </div>
  <h1 class= "text-white">Check-ins</h1>
  <div class="checkin-content">
    <div class="float50">
      <div class="calendar">
        <%= month_calendar  do |date| %>
          <%= date.day %>
        <% end %>
      </div>
    </div>

    <div class="float50">
      <ul>
        <% @checkins.each do |c| %>
            <% c.connections.each do |connection| %>
              <div class="checkin-card">
                <%= image_tag connection.photo_url, class: "avatar-small" %>
                <p><%= connection.first_name %> - <%= c.description %> - <%= datetime_display(c.time) %></p>
              </div>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  </div>
</div>
