<div class="dashboard gradient-bg">
  <%= render "shared/vnav" %>
  <div class="content">
    <div class="breadcrumbs">
      <%= link_to "Dashboard", root_path %> >> <%= link_to "Check-ins", connections_path %>
    </div>
  <div class="headers d-flex align-items-center justify-content-between" >
    <h1 class= "text-white">Check-ins</h1>
    <%= render "shared/checkinmodal" %>
    <%= link_to "+ Add a Check-in", "#checkinModal", "data-toggle" => "modal", class: "btn-white" %>
  </div>
  <div class="checkin-content">
    <div class="float50">
      <div class="calendar">
        <%= month_calendar events: @checkins do |date, checkins| %>
          <div class ="calendar-items">
            <%= date.day %>
            <% checkins.each do |checkin| %>
              <i class="far fa-bell"></i>
            <% end %>
          </div>
        <% end %>
      </div>
      <ul>
        <div class="upcoming-checkins d-flex flex-column">
          <h3 class="text-white spaced-header">Feedback</h3>
          <div class="show-left d-flex flex-column">
            <% @user.checkins.past.incomplete.order(time: :desc).limit(3).each do |checkin| %>
              <%= render "/shared/checkins", :checkin => checkin %>
            <% end %>
          </div>
        </div>
      </ul>
    </div>

    <div class="float50">
      <ul>
        <div class="upcoming-checkins d-flex flex-column">
          <h3 class="text-white spaced-header">Upcoming</h3>
          <div class="show-left d-flex flex-column">
            <% @user.checkins.future.order(time: :asc).limit(3).each do |checkin| %>
              <%= render "/shared/checkins", :checkin => checkin %>
            <% end %>
          </div>
        </div>
      </ul>
      <ul>
        <div class="upcoming-checkins d-flex flex-column">
          <h3 class="text-white spaced-header">Past</h3>
          <div class="show-left d-flex flex-column">
            <% @user.checkins.past.completed.order(time: :asc).limit(3).each do |checkin| %>
              <%= render "/shared/checkins", :checkin => checkin %>
            <% end %>
          </div>
        </div>
      </ul>
    </div>
  </div>
  </div>
</div>
